---
const {name, source, age, color, gender, ownedBy, website} = Astro.props;
---
<li class="bg-white pt-10 list-none">
  <div class="flex flex-col items-center w-100">
    <p class="text-2xl font-bold mb-5 tracking-tight">{name}</p>
    <img
      class="h-48 w-48 rounded-lg xl:h-56 xl:w-56 mb-5"
      src={source}
      alt={name}
    />
    <div class="w-100 flex flex-col text-gray-500">      
      <p>Color: {color}</p>      
      <p>Gender: {gender}</p>
      <p>Owner: {ownedBy}</p>
      <a href={website} target="_blank" class=" underline text-bailey-50">{website}</a>
    </div>
    <hr class="my-5 sm:w-96 w-full" />
  </div>
</li>
