---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

export interface Props {
  title: string;
  metaDesc: string;
  ogType?: string;
}

const { title, metaDesc, ogType = "website" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />    
    <meta
      name="description"
      content={metaDesc}
    />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={metaDesc} /> 
    <meta property="og:image" content="/Bailey-logo.svg" /> 
    <meta property="og:type" content={ogType} />  
    <title>{title}</title>
  </head>
  <body class="bg-gray-100">
    <Nav />
    <slot />
    <Footer />
    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

      html {
        font-family: "Noto Serif", serif;
      }

      body {
        margin: 0;
        width: 100%;
        /* background-color: #d1d1d1; */
      }

    </style>
    <script>
      import "../scripts/nav";
    </script>
  </body>
</html>
